<div class="row text-center h-100 mt-5">
  <div class="col-4 offset-4 form-signin mt-5">
    <h1><i class="far fa-user text-primary"></i></h1>
    <h3 class="mb-3 fw-normal">Crear cuenta</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>

      <div class="mb-3">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Contraseña" %>
      </div>

      <div class="mb-3">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control", placeholder: "Confirmar contraseña" %>
      </div>

      <div class="actions">
        <%= f.submit "Crear", class: "btn btn-primary w-100" %>
      </div>
    <% end %>
  </div>
</div>